@charset "UTF-8";

/* reset here */
html, body { height: 100%; }
body {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 500;
  background-color: #f6f6f6;
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif;
}
a, button, input[type=submit] { cursor: pointer; }
body, h1, h2, h3, h4, h5, h6, hr,
p, blockquote, dl, dt, dd, ul,ol,
li, pre, form, fieldset, legend,
button, input, textarea,th,td { margin: 0; padding: 0; }
input, select, textarea, button { color: inherit; font-size: inherit; font-family: inherit; }
a { color: inherit; text-decoration: none; }
ul, ol { list-style: none; }
img { border: 0; }








/* page base style */



/* header */
header.header {
  width: 100%; height: 50px;
  background-color: #1a1a1a;
  line-height: 50px;
  color: #f1f1f1;
}
header.header div.header-content {
  max-width: 1200px; height: 100%;
  margin: 0 auto;
}
div.header-content h1 {
  font-size: 25px;
  font-weight: 500;
  float: left;
  text-align: center;
  margin-left: 10px;
}
div.header-content div.header-search {
  height: 20px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  float: right;
  margin-top: 9px;
  margin-right: 20px;
}
div.header-search img.search-icon {
  height: 20px; width: 20px;
  cursor: pointer;
  float: left;
}
div.header-search  input.search-content {
  height: 20px; width: 0;
  background-color: inherit;
  border: 0;
  float: left;
  font-size: 12px;
  line-height: 26px;
  outline: none;
  transition: all ease-in-out 300ms;
}
div.header-search input.search-content.open {
  padding: 0 10px;
  width: 150px;
}




/* page main */
div.page-container {
  max-width: 1200px; min-height: 300px;
  margin: 0 auto;
}

/* nav */
nav.nav {
  width: 100%; height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
nav.nav ul.nav-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-right: 1px solid #ccc;
}
ul.nav-list li {
  flex: 1;
  border-left: 1px solid #ccc;
}


