@charset "UTF-8";

/* reset here */
a, button, input[type=submit] { cursor: pointer; }
body, h1, h2, h3, h4, h5, h6, hr,
p, blockquote, dl, dt, dd, ul,ol,
li, pre, form, fieldset, legend,
button, input, textarea,th,td { margin: 0; padding: 0; }
input, select, textarea, button { color: inherit; font-size: inherit; font-family: inherit; }
body {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 500;
  background-color: #f6f6f6;
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif;
}
a { color: inherit; text-decoration: none; }
ul, ol { list-style: none; }
img { border: 0; }





/* page base style */

header.header > div,
nav.main-nav > div {
  max-width: 1200px;
  margin-left: auto; margin-right: auto;
}

/* header */
header.header {
  width: 100%;
  padding: 30px 0;
}
header.header h1 {
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
}
header.header h1 img {
  height: 30px; width: 30px;
  display: inline-block;
}
header.header p {
  margin-left: 10px;
}

/* nav */
nav.main-nav {
  width: 100%; height: 40px;
  line-height: 40px;
  margin: 0 auto;
  color: #f6f6f6;
  background-color: #1a1a1a;
  position: relative;
}
nav.main-nav ul.main-nav-list {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 10px;
}
ul.main-nav-list > li {
  float: left;
}
ul.main-nav-list a {
  display: block;
  padding: 0 20px;
}
ul.main-nav-list > li a:hover,
ul.main-nav-list > li.act a {
  color: #f6f6f6;
  background-color: #e36163;
}

/* 头部图标 */
span.nav-search-icon,
span.nav-menu-icon {
  display: block;
  height: 40px; width: 40px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
span.nav-menu-icon img,
span.nav-search-icon img {
  height: 24px; width: 24px;
  padding: 8px;
  transition: all ease 300ms;
}
span.nav-menu-icon {
  float: left;
  margin-left: 10px;
  display: none;
}
span.nav-search-icon {
  background-color: #e36163;
  position: relative;
}
span.nav-search-icon input {
  height: 20px; width: 190px;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
  position: absolute;
  right: 0; bottom: -35px;
  color: #fff;
  background-color: #f1898c;
  border: none;
  display: none;
}
span.nav-search-icon input::placeholder {
  color: #f6f6f6;
}









/* 媒体查询 */
/* 横屏 */
@media screen and (orientation:landscape){
}
/* 竖屏 */
@media screen and (orientation:portrait){
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
  nav.main-nav ul.main-nav-list {
    display: none;
    border-top: 5px solid #1a1a1a;
    border-bottom: 5px solid #1a1a1a;
    left: 10px; top: 50px;
    margin-left: 0!important;
    position: absolute;
  }
  ul.main-nav-list::before {
    content: "";
    display: block;
    height: 0; width: 0;
    border-bottom: 7px solid #1a1a1a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: -12px; left: 15px;
  }
  ul.main-nav-list li {
    float: none;
    background-color: #1a1a1a;
  }
  span.nav-menu-icon {
    display: block;
  }
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
}
/* windows UI 贴靠 */
@media screen and (-ms-view-state:snapped){
}
/* 打印 */
@media print{
}
